<p>The following specimen has been flagged for deaccession: <%= Setting.instance.specimen_prefix %><%= @specimen.id %><p/>

<p><%= link_to 'Click here to view the specimen', specimen_url(@specimen) %></p>
