<% title 'Edit Confirmation' %>

<%= render 'form' %>
<h2>Determination details</h2>
<%= render :partial => "determinations/determination_details", :locals => {:determination => @confirmation.determination} %>


